<div>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Created at:</strong>
   <%= format_time(@post.created_at) %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
</div>

<%= link_to 'Edit this post', edit_post_path(@post) %>

<%= link_to 'Go back', posts_path %>